p {
  font-family: "Poppins", sans-serif;
  color: #132743;
  font-size: 16 px;
  line-height: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #ffb5b5;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
h3 {
  font-size: 63px;
  color: #132743;
  margin-top: 50px;
}

.hero {
  background: #132743;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #ececec;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  color: #ececec;
  font-weight: normal;
}
.btn-branding {
  background-color: #ffb5b5;
  border-radius: 4px;
  color: #ececec;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  background-color: #132743;
  border-radius: 4px;
  color: #ececec;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
@media (max-width: 960px) {
  h3 {
    font-size: 40px;
  }
  h1 {
    font-size: 45px;
    line-height: 2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
